tensorflow
pandas
dvc
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
tqdm
ensure==1.0.2
joblib
gdown
opencv-python
scikit-learn
fastapi
-U pydantic
uvicorn[standard]
pydantic-settings
PyJWT
httpx
-e .